DATABASE_URL=postgresql://user:password@localhost:5432/menny

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=menny-uploads

RESEND_API_KEY=re_xxxxxxxxxxxx
RESEND_FROM=Menny* <noreply@mennykulturkocsma.hu>

PORT=3000
